* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    color: #272829;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Raleway", sans-serif;
    }

    a {
        color: #0563bb;
        text-decoration: none;
    }

    a:hover {
        color: #067ded;
        text-decoration: none;
    }

    ol,
    ul,
    dl {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    section {
        padding: 60px 0;
        overflow: hidden;

        .section-title {
            text-align: center;
            padding-bottom: 30px;
            h2 {
                font-size: 32px;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 20px;
                padding-bottom: 20px;
                position: relative;
                color: #45505b;

                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 40px;
                    height: 3px;
                    background: #0563bb;
                    bottom: 0;
                    left: calc(50% - 20px);
                }

                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 120px;
                    height: 1px;
                    background: #ddd;
                    bottom: 1px;
                    left: calc(50% - 60px);
                }
            }

            p {
                margin-bottom: 0;
            }
        }
    }
}

// body {
//     color: #272829;
// }
